# Generated data
data/
chunks/
results/
draw/
random_draw.py
duplicate_edta.py
compare.py

# Logs
logs/

# Snakemake
.snakemake/

# Python
__pycache__/
*.pyc

# Conda / environments
.env/
*.yaml.lock

# OS files
.DS_Store
